<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Map</title>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <style>#mapid { height: 900px; }</style>

</head>
<body>

<div id="mapid"></div>

<script th:inline="javascript">

    var points = [[${points}]];

    // var map = L.map('mapid').setView([54.35, 18.64], 5);
    var map = L.map('mapid').setView([49.59, 17.25], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([54.35, 18.64]).addTo(map)
        .bindPopup("My city!")

    points.forEach(value => {
        L.marker([value.lat, value.lon]).addTo(map)
            .bindPopup(value.text);
    });

</script>
</body>
</html>